<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/navbar.html :: header( title = 'Productos')"></head>
<body class="container" >

<div th:replace="fragments/navbar.html :: barraPrueba"></div>

<div class="container align-content-center">
    <hr/>
    <h2>Lista de Productos</h2>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <div th:if="${msgredun != null}" th:text="${msgredun}" class="alert alert-danger" role="alert"></div>

    <hr/>
    <form class="form-inline" method="post" th:action="@{'/productos/buscarProductosPorInicioDeNombreOId'}">
        <div class="form-group">
            <input name="inicio" type="text" class="form-control mb-4 mr-2" placeholder="Nombre del Producto" />
        </div>

        <button class="btn btn-primary mb-4" th:href="@{'/productos/lista'}">Refrescar</button>
    </form>

    <div th:each="pro, info : ${listaProductos}">
        <div class="card container">

            <div class="card-body row">
                <div class="col-lg-4">
                    <img class="thumb" th:src="${pro.foto2}" alt="obligamePerro " width="300" height="200" data-pin-no-hover="true">
                </div>
                <div class="col-lg-4">
                    <h5 class="card-title" th:text="${pro.nombre}"></h5>
                    <p class="card-text" th:text="${'Codigo : ' + pro.codigo}">Descripción</p>
                    <p class="card-text" th:text="${'Precio : ' + pro.preciounitario}">Descripción</p>
                    <p class="card-text" th:text="${'Stock : ' + pro.stock}">Descripción</p>
                </div>
                <div class="col-lg-4">
                    <pre>
                    </pre>
                    <!--
                    <div class="row">
                        <a th:href="@{'/carrito/agregarProducto' + '?codigo=' + ${pro.codigo}}" class="btn btn-success">Agregar al carrito</a>
                    </div>
                    <pre>
                    </pre>
                    -->
                    <div class="row">
                        <a th:href="@{'/productos/detalles' + '?id=' + ${pro.codigo}}" class="btn btn-primary">Detalles</a>
                    </div>
                    <pre>
                    </pre>

                    <!--
                    <select id="combobox" >
                        <option th:each="i:${combobox}" th:value="${i}" th:text="${i}">1</option>
                    </select>
                    -->

                    <form method="post" th:action="@{'/carrito/agregar'}">

                        <input type="hidden" th:value="${pro.codigo}" name="codigo" id="codigo" class="form-control" >

                        <div class="form-group">
                            <label for="i">Cantidad Elegida</label>
                            <input type="number" value="1" name="i" id="i">
                        </div>
                        <button type="submit"  class="btn btn-success" >Añadir</button>
                    </form>



                </div>

            </div>

        </div>
        <pre>

        </pre>

    </div>

</div>

</body>
</html>
