<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Productos')"></head>
<body class="container">

<div th:replace="fragments/navbar.html :: barraPrueba"></div>

<div class="container align-content-center">
    <hr/>
    <h2>Lista de Productos</h2>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <hr/>

    <form class="form-inline" method="post" th:action="@{'/product/buscarPorInicio'}">
        <div class="form-group">
            <input name="inicio" type="text" class="form-control mb-4 mr-2" placeholder="Nombre del Producto" />
        </div>

        <button class="btn btn-primary mb-4" th:href="@{'/product/list'}">Refrescar</button>
    </form>

    <div th:each="pro, info : ${listaProductos}">
        <div class="card container">
            <!--
            <img class="card-img-top" src="..." alt="Card image cap">
            -->

            <div class="card-body row">
                <div class="col-lg-4">
                    <p class="card-text" th:text="${'Descripcion : ' + pro.descripcion}">Descripción</p>
                </div>
                <div class="col-lg-4">
                    <h5 class="card-title" th:text="${pro.nombre}"></h5>

                    <p class="card-text" th:text="${'Codigo : ' + pro.codigo}">Descripción</p>
                    <p class="card-text" th:text="${'Precio : ' + pro.preciounitario}">Descripción</p>
                    <p class="card-text" th:text="${'Stock : ' + pro.stock}">Descripción</p>
                    <!--
                    <p class="card-text" th:text="${'Descripcion : ' + pro.descripcion}">Descripción</p>
                    -->


                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                    <pre>

                    </pre>
                    <div class="row">
                        <a href="#" class="btn btn-primary">Detalles</a>
                    </div>
                </div>

            </div>

        </div>
        <pre>

        </pre>

    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nombre de Producto</h5>
            <p class="card-text">Descripción</p>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
            <a href="#" class="btn btn-primary">Detalles</a>
        </div>
    </div>
</div>

</body>
</html>
