<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Estadisticas 4')"></head>



<body class="container">
<div th:replace="fragments/navbar.html :: barraPrueba"></div>
<div class="container align-content-center">
    <hr/>
    <h2>Producto Mas Vendido</h2>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <hr/>

    <table class="table table-sm">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio Unitario</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>Cantidad de Vendidos</th>
            <th>Cuantos quedan</th>
        </tr>
        <tr th:each="productox ,info : ${productoMasVendido}">
            <td th:text="${productox.getCodigo()}">
            <td th:text="${productox.getNombre()}">
            <td th:text="${productox.getPreciounitario()}">
            <td th:text="${productox.getDescripcion()}">
            <td th:text="${productox.getStock()}">
            <td th:text="${productox.getCantidadvendidos()}">
            <td th:text="${productox.getValides()}">
        </tr>
    </table>

</div>
</body>
</html>