<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Estadisticas 2')"></head>



<body class="container">
<div th:replace="fragments/navbar.html :: barraPrueba"></div>
<div class="container align-content-center">
    <hr/>
    <h2>Total Facturado</h2>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <hr/>

        <table class="table table-sm">
            <tr>
                <th>Total Facturado</th>
            </tr>
            <tr th:each="total ,info : ${totalFacturado}">
                <td th:text="${total.getFacturatotal()}">
            </tr>
        </table>


</div>
</body>
</html>