<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/navbar.html :: header( title = 'Pedidos')"></head>


<body class="container" >

<div th:replace="fragments/navbar.html :: barraPrueba"></div>

<div class="container align-content-center">
    <hr/>
    <h2>Mis Pedidos</h2>
    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
    <hr/>

    <form class="form-inline" method="post" th:action="@{'/usuarios/buscadorPedidos'}">
        <div class="form-group">
            <input name="inicio" type="text" class="form-control mb-4 mr-2" placeholder="Nombre del Pedido" />
        </div>

        <button class="btn btn-primary mb-4" th:href="@{'/usuarios/listarpedidos'}">Refrescar</button>
    </form>

    <div th:each="pedidos, info : ${elementosPedidos}">
        <div class="card container">

            <div class="card-body row">
                <div class="col-lg-4">
                    <h5 class="card-title" th:text="${pedidos.getIdpedido()}"></h5>
                    <p class="card-text" th:text="${'Fecha : ' + pedidos.getFecha()}"></p>

                </div>
                <div class="col-lg-4">
                </div>

            </div>

        </div>

    </div>
</div>

</body>
</html>