<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar.html :: header( title = 'Formulario Nuevo Producto')"></head>
</head>
<body class="container">
<div th:replace="fragments/navbar.html :: barraPrueba"></div>
<h2>Editar Producto</h2>
<hr/>
<form method="post" th:action="@{'/gestor/saveProductEdit'}" th:object="${producto}">

    <input type="hidden" th:field="*{codigo}" class="form-control">

    <div class="form-group">
        <label for="nombre">nombre</label>
        <input type="text" class="form-control" th:field="*{nombre}">
        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
    </div>

    <input type="hidden" th:field="*{preciounitario}" class="form-control">

    <div class="form-group">
        <label for="descripcion">descripcion</label>
        <input type="text" class="form-control" th:field="*{descripcion}">
        <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
    </div>

    <div class="form-group">
        <label for="stock">stock</label>
        <input type="text" class="form-control" th:field="*{stock}">
        <div class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
    </div>

    <input type="hidden" th:field="*{foto2}" class="form-control">

    <a th:href="@{'/gestor/list'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary" >Actualizar</button>
</form>
</body>
</html>